img.parallax-slider {
    margin-top: 40px;
}
.hero {
    margin-top: var(--h-top);
    @media (min-width:768px) {
        margin-top: var(--h-top-desktop);
    }
    // background-color: var(--col-primary-400);
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(50vh - var(--h-top));
    min-height: 500px;

    display: grid;
    place-content: center;

    h1 {
        color: white;
        font-size: 2rem;
        font-size: var(--fs-900);
        font-weight: var(--fw-900);
        margin: 1rem 0;
        text-align: center;
        text-shadow: 1px 1px 6px var(--col-primary-400);
    }

}

.logo {
    img {
        width: min(500px,90vw);
        margin-inline: auto;
    }
}