.pricing {
    &__grid {
        display: grid;
        gap: 1rem;
        place-content: center;
        @media(min-width:768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width:992px) {
            grid-template-columns: repeat(4, auto);
        }
    }
    &__card {
        min-width: 25%;
        background-color: var(--col-light-400);
        padding: 1rem;
        border-radius: var(--border2);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    &__image {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: var(--border1);
    }
    &__size,
    &__price {
        font-size: var(--fs-450);
        font-weight: var(--fw-900);
        color: var(--col-primary-400);
    }
    &__features {
        color: var(--col-highlight-400);
        ul {
            padding-left: 1rem;
        }
    }
    &__link {
        &:hover {
            color: var(--col-highlight-400);
        }
    }
}