.text_image {
    &__image {
        border-radius: var(--border2);
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .lite-vimeo {
        border-radius: var(--border2);
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}