.btn--small {
    width: 160px;
    padding: 0.75rem 1rem;
    height: auto;
}

.btn {
    position: relative;
    border-radius: 0.25rem;
    font-weight: 500;
    overflow: hidden;
    transition: all 0.3s ease;
    min-width: 8.125rem;
}

.btn-primary,
.btn--accent {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--col-highlight-400);
    font-size: 0.889rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    &:hover {
        transform: translateY(2px);
        background: lighten($col-highlight, 10%);
        color: white;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
}

.btn-landing {
    @extend .btn-primary;
    position: fixed;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 999;
    @media (min-width:992px) {
        left: unset;
        bottom: 6rem;
        width: 100px;
        min-width: unset;
        border-radius: 100vw;
        padding: 1rem;
        font-size: 0.8rem;
        aspect-ratio: 1;
        display: grid;
        place-content: center;
    }
}